html, body {
    height: 100%;

    }
    
    main {
    flex: 1;
    padding: 20px;
    background-color: #333333;
    color: greenyellow;
    }
    
    footer {
    background-color: gray;
    padding: 1rem;
    text-align: center;
    flex-shrink: 0;
    height: 5vh;

    }
    
    footer p {
    margin: 0;
    color: white;
    font-size: 14px;
    }